<h2>Other Budgets - {{year}}</h2>

<ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let year of years">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="rlao" [routerLink]="['/other-budgets', year]">{{year}}</a>
    </li>
</ul>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
        <button class="btn-xs btn-light float-right" (click)="c()">X</button>
        <p>You are going to set budgets in year {{year}} for users without budget.</p>
        <label>Amount:
            <input [(ngModel)]="amount"/>
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c(setBudgetsForYear())">Save</button>
    </div>
</ng-template>

<button class="btn btn-primary float-right" (click)="openAmountModal(content)" 
    [disabled] = "disableSetOrEditBudgets">Set budgets
</button>
<br><br>

<table class="table">
  <thead>
  <tr>
      <th scope="col">Last</th>
      <th scope="col">First</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let budget of budgets">
      <td>{{budget.user.lastName}}</td>
      <td>{{budget.user.firstName}}</td>
      <td *ngIf="budget.amount; else empty">{{budget.amount}}</td>
      <ng-template #empty>
          <td></td>
      </ng-template>

      <td *ngIf="!disableSetOrEditBudgets; else cannotEdit">
          <a class="btn btn-primary float-right" href="#" role="button" routerLink="edit/{{budget.user.id}}">Edit</a>
      </td>
      <ng-template #cannotEdit>
        <td>
            <button class="btn btn-primary float-right" disabled="true" title="Cannot edit request from years ago.">Edit</button>
        </td>
      </ng-template>
  </tr>
  </tbody>
</table>
