<h2>Other Budgets - {{year}}</h2>

<ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let year of years">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="rlao"
            [routerLink]="['/other-budgets', year, selectedBudgetType]">
            {{year}}
        </a>
    </li>
</ul>

<ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let budgetType of budgetTypes">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="rlao"
            [routerLink]="['/other-budgets', selectedYear, budgetType.id]">
            {{budgetType.name}}
        </a>
    </li>
</ul>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Create budgets</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-alert id="addOtherBudget"></app-alert>
        <p>
            You are going to set budgets in year {{year}} for users without budget.
        </p>

        <div class="form-group">
            <label for="title">Budget title *</label>
            <input type="text" class="form-control" id="title" #title="ngModel" placeholder="Enter budget title"
                [(ngModel)]="budgetTitle" required minlength="1">
        </div>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            Title is required
        </div>

        <div class="form-group">
            <label for="title">Amount</label>
            <input type="number" class="form-control" placeholder="0.0" id="amount" #budgetAmount="ngModel"
                [(ngModel)]="amount" required min="1">
        </div>
        <div *ngIf="budgetAmount.invalid && (budgetAmount.dirty || budgetAmount.touched)" class="alert alert-danger">
            Amount is required </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Employee</label>
            <select class="form-control" id="exampleFormControlSelect1" #selectedUser="ngModel"
                [(ngModel)]="selectedUserId" required>
                <option value="0">All active users</option>
                <option *ngFor="let user of availableUsers" [ngValue]="user.id">
                    {{user.lastName}} {{user.firstName}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)=close()>Close</button>
        <button type="button" [disabled]="title.invalid || budgetAmount.invalid || selectedUser.invalid"
            class="btn btn-primary" (click)="setBudgetsForYear()">
            Set
        </button>
    </div>
</ng-template>
<br>

<button class="btn btn-primary float-right" (click)="openAmountModal(content)" [disabled]="disableSetOrEditBudgets">
    Set budgets
</button>

<input class="form-control col-md-6" placeholder="Search employee" id="searchBox" type="text" [(ngModel)]="searchTerm">
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Last</th>
            <th scope="col">First</th>
            <th scope="col">Budget name</th>
            <th scope="col">Amount</th>
            <th scope="col">Amount left</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let perspective of budgetPerspectives">
            <td>{{perspective.budget.user.lastName}}</td>
            <td>{{perspective.budget.user.firstName}}</td>
            <td>{{perspective.budget.title}}</td>
            <td>{{perspective.budget.amount}}</td>
            <td>{{perspective.budget.amountLeft}}</td>

            <td>
                <a *ngIf="!disableSetOrEditBudgets" class="btn btn-primary float-right" href="#" role="button"
                    routerLink="/other-budgets/edit/{{perspective.budget.id}}">
                    Edit
                </a>
            </td>
            <ng-template #cannotEdit>
                <td>
                    <button class="btn btn-primary float-right" disabled="true"
                        title="Cannot edit request from years ago.">
                        Edit
                    </button>
                </td>
            </ng-template>
            <td>
                <button class="btn btn-danger" (click)="openModal(deleteBudgetModalTemplate)"
                    [disabled]="!perspective.isDeletable">
                    Delete
                </button>
            </td>
            <ng-template #deleteBudgetModalTemplate let-c="close">
                <div class="modal-body float-centre">
                    Are you sure you want to delete {{perspective.budget.title}} budget ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger mr-1" (click)="c(deleteBudget(perspective.budget.id))">
                        Yes
                    </button>
                    <button class="btn btn-primary" (click)="c()">
                        No
                    </button>
                </div>
            </ng-template>
        </tr>
    </tbody>
</table>