################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/ERNI.PBA.Server.Host/ERNI.PBA.Server.Host.csproj.user

/.idea