<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<p-panel>
  <ng-template pTemplate="icons">
    <span class="mr-2"
      >{{ budget().amountLeft }} € left out of {{ budget().amount }}</span
    >

    <a
      pButton
      *ngIf="budget().isEditable"
      class="p-button-sm"
      routerLink="new-request/{{ budget().id }}"
    >
      Create new request
    </a>
  </ng-template>
  <ng-template pTemplate="header">
    <div *ngIf="budget().title">
      {{ budget().title }} - {{ budgetTypeName() }}
    </div>
    <div *ngIf="!budget().title">{{ budgetTypeName() }}</div>
  </ng-template>

  <p-progressBar
    [value]="(100 * budget().amountLeft) / budget().amount"
    [showValue]="false"
  ></p-progressBar>

  <p-table
    [value]="budget().requests"
    styleClass="p-datatable-gridlines p-datatable-striped mt-3"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Create date</th>
        <th scope="col">Request State</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td>{{ request.title }}</td>
        <td>{{ request.amount | number : "1.2-2" }}</td>
        <td>{{ request.createDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ requestStateType[request.state] }}</td>
        <td class="button-table-cell">
          <button
            pButton
            (click)="openDeleteConfirmationModal(request)"
            *ngIf="
              request.state === requestStateType.Pending && budget().isEditable
            "
            class="p-button-sm"
          >
            Delete
          </button>
          <a
            pButton
            class="p-button-sm"
            routerLink="request/{{ request.id }}"
            [state]="{ budget: budget() }"
          >
            Open
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
