<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<p-panel [iconPos]="'end'">
  <ng-template pTemplate="header">
    <div class="flex flex-wrap w-full gap-2">
      <div class="flex w-full gap-3">
        <div class="flex-grow-1 flex flex-column md:flex-row gap-3">
          <div class="flex flex-column" style="min-width: 15rem;">
            <h1 class="budget-title text-xl font-bold m-0">{{ budget().title }}</h1>

            @if (budgetTypeName()) {
              <div class="font-light">
                @if (budgetIcon()) {
                  <span class="text-lg mr-1">{{ budgetIcon() }}</span>
                }
                <span>{{ budgetTypeName() }}</span>
              </div>
            }
          </div>
          <div class="flex-grow-1 hidden md:block">
            <p-progressBar [value]="budgetAmountPercentage()" [color]="budgetAmountProgressColor()">
              <ng-template pTemplate="content" let-value>{{ budget().amountLeft }} €</ng-template>
            </p-progressBar>
            @if (budget().amountLeft < budget().amount) {
              <div class="text-sm font-light font-italic text-right mt-1">{{ budget().amountLeft }}€ left out of {{ budget().amount }}€</div>
            }
          </div>
        </div>

        @if (budget().isEditable) {
          <a
            class="block"
            pTooltip="Create new request"
            [showDelay]="300"
            routerLink="new-request/{{ budget().id }}"
          >
            <p-button
              icon="pi pi-plus"
              [rounded]="true"
            ></p-button>
          </a>
        }
      </div>

      <div class="w-full md:hidden">
        <p-progressBar [value]="budgetAmountPercentage()" [color]="budgetAmountProgressColor()">
          <ng-template pTemplate="content" let-value>{{ budget().amountLeft }} €</ng-template>
        </p-progressBar>
        @if (budget().amountLeft < budget().amount) {
          <div class="text-sm font-light font-italic text-right mt-1">{{ budget().amountLeft }}€ left out of {{ budget().amount }}€</div>
        }
      </div>
    </div>

  </ng-template>



  @if (budget().requests.length > 0) {
    <p-table
      [value]="budget().requests"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
      responsiveLayout="stack"
      [breakpoint]="'650px'"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Title</th>
          <th class="w-10rem text-right">Amount</th>
          <th class="w-10rem text-center">Create Date</th>
          <th class="w-10rem text-center">Request State</th>
          <th class="w-9rem">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td>
            <span class="p-column-title font-semibold">Title</span>
            <span>{{ request.title }}</span>
          </td>
          <td class="text-right">
            <span class="p-column-title font-semibold">Amount</span>
            <span>{{ request.amount | number : '1.2-2' }}&nbsp;€</span>
          </td>
          <td class="text-center">
            <span class="p-column-title font-semibold">Create date</span>
            <span>{{ request.createDate | date : "dd/MM/yyyy" }}</span>
          </td>
          <td class="text-center">
            <span class="p-column-title font-semibold">State</span>
            <p-chip [label]="requestStateType[request.state]" [styleClass]="getRequestStateChipColor(request.state)"/>
          </td>
          <td>
            <span class="p-column-title font-semibold">Action</span>
            <div class="flex gap-2">
              <p-button
                [icon]="request.state === requestStateType.Pending ? 'pi pi-file-edit' : 'pi pi-eye'"
                [rounded]="true"
                severity="secondary"
                routerLink="request/{{ request.id }}"
                [pTooltip]="request.state === requestStateType.Pending ? 'Edit request' : 'Open request'"
                [showDelay]="300"
              />
              @if (request.state === requestStateType.Pending && budget().isEditable) {
                <p-button
                  icon="pi pi-trash"
                  [rounded]="true"
                  [severity]="'danger'"
                  pTooltip="Delete request"
                  [showDelay]="300"
                  (click)="openDeleteConfirmationModal(request)"
                />
              }
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-panel>
