@page "/todo"

@using ERNI.PBA.Client.Pages

@inject TodoState TodoState

<PageTitle>New page title</PageTitle>

<h3>Todo</h3>

@*<DeleteTodoItemDialog*@ 

<ul>
    @foreach (var item in TodoState.Todos)
    {
        <li>@item.Todo</li>
    }
</ul>

<input @bind="TodoState.NewTodo" @bind:event="oninput" placeholder="What do you need to do?" />
<input @bind="TodoState.DueDate" @bind:format="yyyy-MM-dd" placeholder="Due date" />
<button @onclick="TodoState.Save">Save</button>

@if (!string.IsNullOrEmpty(TodoState.NewTodo))
{
    <p>@TodoState.NewTodo Due: @TodoState.DueDate?.ToShortDateString()</p>
}

@code {

}
