<h2>Employees</h2>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/users/active">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/users/new">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" routerLink="/users/inactive">Inactive</a>
    </li>
</ul>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let user of users">
        <th>{{user.id}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td><a class="btn btn-primary float-right" href="#" role="button" routerLink="/users/{{user.id}}">Detail</a>
        </td>
    </tr>
    </tbody>
</table>