<div *ngIf="user">
    <h2>{{user.firstName}} {{user.lastName}}</h2>

    
    <div class="form-group">
        <label for>Superior</label>
        <select
            class="form-control form-control-sm"
            [(ngModel)]="user.superior"
            [compareWith]="compareUsers">
            <option
                [ngValue]="null"
                disabled></option>
            <option
                *ngFor="let userItem of users"
                [ngValue]="userItem">
                {{userItem.lastName}} {{userItem.firstName}}
            </option>
        </select>
    </div>

    <button
        class="btn btn-primary mr-1"
        (click)="goBack()">
        back
    </button>
    <button
        class="btn btn-success"
        (click)="save()">
        Save
    </button>
</div>
