<div *ngIf="category">
    <h2>Details</h2>
    <br>
    <div class="form-input">
        <label class="form-input-label">
            Category title:
            <input
                [(ngModel)]="category.title"
                class="form-input"
                placeholder="title">
        </label>
    </div>
    <br>
    <div class="form-check">
        <label class="form-check-label">
            <input
                type="checkbox"
                [(ngModel)]="category.isActive"
                class="form-check-input">
            Active
        </label>
    </div>
    <br>
    <div class="form-check">
        <label class="form-check-label">
            <input
                type="checkbox"
                [(ngModel)]="category.isUrlNeeded"
                class="form-check-input">
            Url
        </label>
    </div>
    <br>
    <div class="form-input">
        <label class="form-input-label">
            Spend limit:
            <input
                type="number"
                [(ngModel)]="category.spendLimit"
                class="form-input"
                placeholder="0.00">
        </label>
    </div>
    <br>

    <div><b>Emails</b></div>
    <div id="emails"> 
    <select id="emailsList" [ngModel]="mails" (ngModelChange)="onSelected($event)" multiple ng-model="categories" 
    *ngIf="category.email && category.email.length; else empty">
        <option *ngFor="let u of category.email">
        {{ u }}
        </option>
    </select>
    <ng-template #empty>
        <td>Predefined emails not assigned.</td>
    </ng-template>
    </div>
    <button id="deleteMail"
        *ngIf="emailsToDelete.length; else disabled"
        class="btn btn-failure"
        (click)="deleteMail()">
        Delete
    </button>
    <br>
    <div class="form-input">
        <label class="form-input-label">
            Add email:
            <input #newmail
            class="form-input"
            placeholder="">
        </label>
        <button
            id="addEmail"
            class="btn btn-success"
            (click)="addMail(newmail.value); newmail.value = ''">
            Add
        </button>
    </div>
    <br>
    <button
        class="btn btn-primary mr-1"
        (click)="goBack()">
        back
    </button>
    <button
        class="btn btn-success"
        (click)="save()">
        save
    </button>
</div>
