<div *ngIf="category">
    <h2>Details</h2>
    <br>
    <div class="form-input">
        <label class="form-input-label">
            Category title:
            <input
                [(ngModel)]="category.title"
                class="form-input"
                placeholder="title">
        </label>
    </div>
    <br>
    <div class="form-check">
        <label class="form-check-label">
            <input
                type="checkbox"
                [(ngModel)]="category.isActive"
                class="form-check-input">
            Active
        </label>
    </div>
    <br>
    <div class="form-check">
        <label class="form-check-label">
            <input
                type="checkbox"
                [(ngModel)]="category.isUrlNeeded"
                class="form-check-input">
            Url
        </label>
    </div>
    <br>
    <div class="form-input">
        <label class="form-input-label">
            Spend limit:
            <input
                type="number"
                [(ngModel)]="category.spendLimit"
                class="form-input"
                placeholder="0.00">
        </label>
    </div>
    <br>

    <div><b>Emails</b></div>
    <div>
    <select [ngModel]="mails" (ngModelChange)="onSelected($event)" multiple ng-model="categories" >
        <option *ngFor="let u of category.email.split(',')">
        {{ u }}
        </option>
    </select>
    <button
        class="btn btn-failure"
        (click)="deletemail()">
        Remove
    </button>
    </div>
    <br>
    <div class="form-input">
        <label class="form-input-label">
            Add email:
            <input #newmail
            class="form-input"
            placeholder="">
        </label>
        <button
            class="btn btn-success"
            (click)="addmail(newmail.value)">
            Add
        </button>
    </div>
    <br>
    <button
        class="btn btn-primary mr-1"
        (click)="goBack()">
        back
    </button>
    <button
        class="btn btn-success"
        (click)="save()">
        save
    </button>
</div>
