<div [ngSwitch]="requestFilter">
    <h2 *ngSwitchCase="requestFilterType.Pending">Pending requests</h2>
    <h2 *ngSwitchCase="requestFilterType.Approved">Approved requests</h2>
    <h2 *ngSwitchCase="requestFilterType.ApprovedBySuperior">Approved By Superior requests</h2>
    <h2 *ngSwitchCase="requestFilterType.Rejected">Rejected requests</h2>
</div>

<ul class="nav nav-pills">
    <li
        class="nav-item"
        *ngFor="let year of years"
        [ngSwitch]="requestFilter">
        <a
            *ngSwitchCase="requestFilterType.Pending"
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[pendingRoute, year]">
            {{year}}
        </a>
        <a
            *ngSwitchCase="requestFilterType.Approved"
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[approvedRoute, year]">
            {{year}}
        </a>
        <a
            *ngSwitchCase="requestFilterType.ApprovedBySuperior"
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[approvedBySuperiorRoute, year]">
            {{year}}
        </a>
        <a
            *ngSwitchCase="requestFilterType.Rejected"
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[rejectedRoute, year]">
            {{year}}
        </a>
    </li>
</ul>

<br>
<input
    class="form-control col-md-6"
    placeholder="Search employee"
    id="searchBox"
    type="text"
    [(ngModel)]="searchTerm">
<br>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[pendingRoute, selectedYear]"
            [routerLinkActiveOptions]="rlao">
            Pending
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[approvedRoute, selectedYear]"
            [routerLinkActiveOptions]="rlao">
            Approved
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[approvedBySuperiorRoute, selectedYear]"
            [routerLinkActiveOptions]="rlao">
            Approved By Superior
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="[rejectedRoute, selectedYear]"
            [routerLinkActiveOptions]="rlao">
            Rejected
        </a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Budget</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of filteredRequests">
            <th>
                {{request.user.firstName}} {{request.user.lastName}}
            </th>
            <td>{{request.title}}</td>
            <td>{{request.amount}}</td>
            <td>{{request.budget.title}}</td>
            <td>{{request.date | date: 'dd/MM/yyyy'}}</td>

            <td>
                <div *ngIf="isAdmin">
                    <div *ngIf="showApprove()">                
                        <button
                            class="btn btn-success float-right"
                            title="approve request"
                            (click)="approveRequest(request.id)">
                            Approve
                        </button>
                    </div>
                </div>
            </td>

            <td><a
                class="btn btn-primary float-right mr-1"
                href="#"
                role="button"
                routerLink="detail/{{request.id}}/type/{{request.budget.type}}">
                Detail
            </a></td>
            <td *ngIf="requestFilter != requestFilterType.Rejected" class="button-table-cell">

                <div *ngIf="canRejectRequest(request.id); else cannotReject">
                    <button
                        class="btn btn-danger float-right"
                        title="reject request"
                        (click)="openDeleteConfirmationModal(rejectConfirmation)">
                        Reject
                    </button>
                    <button
                        class="btn btn-danger float-right mr-1"
                        title="delete request"
                        (click)="openDeleteConfirmationModal(deleteConfirmation)">
                        Delete
                    </button>
                </div>
                <ng-template
                    #deleteConfirmation
                    let-c="close"
                    let-d="dismiss">

                    <div class="modal-body float-centre">
                        <button
                            class="btn-xs btn-light float-right"
                            (click)="c()">
                            X
                        </button>
                        <label>
                            Are you sure you want to delete {{request.title}} request?
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button
                            class="btn btn-danger mr-1"
                            (click)="c(deleteRequest(request.id))">
                            Yes
                        </button>
                        <button
                            class="btn btn-primary"
                            (click)="c()">
                            No
                        </button>
                    </div>
                </ng-template>
                <ng-template
                    #rejectConfirmation
                    let-c="close"
                    let-d="dismiss">

                    <div class="modal-body float-centre">
                        <button
                            class="btn-xs btn-light float-right"
                            (click)="c()">
                            X
                        </button>
                        <label>
                            Are you sure you want to reject {{request.title}} request?
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button
                            class="btn btn-danger mr-1"
                            (click)="c(rejectRequest(request.id))">
                            Yes
                        </button>
                        <button
                            class="btn btn-primary"
                            (click)="c()">
                            No
                        </button>
                    </div>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>