<h2>Pending requests</h2>
<ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let year of years" [ngSwitch]="requestFilter">
        <a *ngSwitchCase="requestFilterType.Pending" class="nav-link" [routerLinkActive]="['active']" [routerLink]="[pendingRoute, year]">{{year}}</a>
        <a *ngSwitchCase="requestFilterType.Approved" class="nav-link" [routerLinkActive]="['active']" [routerLink]="[approvedRoute, year]">{{year}}</a>
        <a *ngSwitchCase="requestFilterType.Rejected" class="nav-link" [routerLinkActive]="['active']" [routerLink]="[rejectedRoute, year]">{{year}}</a>
    </li>
</ul>

<br>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="[pendingRoute, selectedYear]" [routerLinkActiveOptions]="rlao">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="[approvedRoute, selectedYear]" [routerLinkActiveOptions]="rlao">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="[rejectedRoute, selectedYear]" [routerLinkActiveOptions]="rlao">Rejected</a>
    </li>
</ul>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Employee</th>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let request of requests">
        <th>{{request.user.firtName}} {{request.user.lastName}}</th>
        <td>{{request.title}}</td>
        <td>{{request.amount}}</td>
        <td>{{request.category.title}}</td>
        <td>{{request.date | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="requestFilter != requestFilterType.Approved">
            <button class="btn btn-success float-right" title="approve request"
            (click)="approveRequest(request.id)">Approve</button>
        </td>
        <td *ngIf="requestFilter != requestFilterType.Rejected">
            <button class="btn btn-danger float-right" title="reject request"
            (click)="rejectRequest(request.id)">Reject</button>
        </td>
    </tr>
    </tbody>
</table>
