<p-panel header="Team members budgets">
  <ng-template pTemplate="icons">
    <a pButton routerLink="create-request" class="p-button-sm"
      >Create new request</a
    >
  </ng-template>

  <p-table [value]="teamBudgets">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" style="width: 55%">Name</th>
        <th scope="col" style="width: 15%">Spent</th>
        <th scope="col" style="width: 15%">Left</th>
        <th scope="col" style="width: 15%">Total amount</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-budget>
      <tr>
        <td>{{ budget.employee.lastName }} {{ budget.employee.firstName }}</td>
        <td>{{ budget.budgetSpent }}</td>
        <td>{{ budget.budgetLeft }}</td>
        <td>{{ budget.budgetTotal }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
