<p-menubar [model]="mainNavItems()">
  <ng-template pTemplate="start">
    <a class="p-menuitem-link font-bold text-2xl mr-2" href="/">
      <span class="mr-1">💰</span>
      <span>PBA</span>
    </a>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    @if (item.route) {
      <a class="p-menuitem-link" [routerLink]="item.route" [routerLinkActive]="['p-menuitem-active']">
        @if (item.icon) {
          <i class="mr-2" [class]="item.icon"></i>
        }
        <span>{{ item.label }}</span>
      </a>
    } @else if (item.url) {
      <a [href]="item.url" [target]="item.target" class="p-menuitem-link">
        @if (item.icon) {
          <i class="mr-2" [class]="item.icon"></i>
        }
        <span>{{ item.label }}</span>
      </a>
    }
  </ng-template>
  <ng-template pTemplate="end">
    @if (userInfo(); as userInfo) {
      <p-menu #menu [popup]="true" [model]="userMenuItems" styleClass="w-15rem">
        <ng-template pTemplate="end">
          <div class="flex align-items-center p-2 pl-3">
            <p-avatar image="/assets/avatar.svg" class="mr-2" shape="circle" />
            <div class="flex flex-column">
              <div class="font-bold">{{ userInfo.name }}</div>
              <div class="text-sm">
                @if (userInfo.isAdmin) {
                  <span>[Admin]</span>
                } @else if (userInfo.isFinance) {
                  <span>[Finance]</span>
                } @else if (userInfo.isSuperior) {
                  <span>[Superior]</span>
                }
              </div>
            </div>
          </div>
        </ng-template>
      </p-menu>
      <p-button
        [text]="true"
        severity="secondary"
        icon="pi pi-user"
        [size]="'large'"
        ariaLabel="Open user info"
        (click)="menu.toggle($event)" />
    }
  </ng-template>
</p-menubar>

<router-outlet></router-outlet>
