<nav id="unsecured-nav" *ngIf="!adalService.userInfo">
  <a [routerLink]="['/']">
    Login
  </a>
</nav>

<nav id="secured-nav" *ngIf="adalService.userInfo">
  <a [routerLink]="['/home']">
    Home
  </a>
  |
  <a routerLink="/requests">Requests</a>
  |
  <a routerLink="/users">Users</a>
  |
  <a [routerLink]="['/login']">
    Logout page
  </a>
</nav>

<h1 *ngIf="!adalService.userInfo">
  Welcome to {{ title }}, uknown wanderer!
</h1>

<h1 *ngIf="adalService.userInfo">
  Welcome to {{ title }}!
</h1>


<main>
  <router-outlet></router-outlet>
</main>