<p-dialog
  [(visible)]="isVisible"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  (onHide)="onHide()"
>
  <ng-container *ngIf="request() as request">
    <ng-template *ngIf="true" pTemplate="header">
      <div class="row">
        <div class="col-md-8">{{ title() }}</div>
      </div>
    </ng-template>

    @switch (request.status) { @case ('pending') {
    <div
      class="flex align-content-center justify-content-center flex-wrap card-container yellow-container"
      style="min-height: 200px"
    >
      <div class="flex align-items-center justify-content-center">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </div>
    } @case ('error') { error } @case ('success') {

    <div class="modal-body">
      <h5>Created</h5>
      <p>{{ request.value.createDate | date : "shortDate" }}</p>

      <h5>Amount</h5>
      <p>{{ request.value.amount }}</p>

      <h5>Uploaded files</h5>
      <div class="fileLists" *ngIf="images() as images">
        @switch (images.status) { @case ('pending') { pending } @case ('error')
        { error } @case ('success') {

        <div *ngIf="images.value.length === 0">No files yet</div>
        <ul class="pl-0">
          <li *ngFor="let image of images.value">
            <div class="row mt-2">
              <div class="col-md-8">{{ image.name }}</div>
              <button
                class="col-md-3 btn btn-outline-primary"
                (click)="download(image.id)"
              >
                Download
              </button>
            </div>
          </li>
        </ul>
        } }
      </div>
    </div>
    } }
  </ng-container>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="close()"
      label="Close"
      styleClass="p-button-secondary p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
