<button (click)="open()" *ngIf="!isVisible">Create new request</button>

<div class="card text-center" style="margin-bottom:20px;" *ngIf="isVisible">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <b>Create new request</b>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="title">Title</label>
      <textarea id="title" #requestTitle="ngModel" class="form-control" type="textarea" [(ngModel)]="title"
        (blur)="trimTitle()" required></textarea>
    </div>
    <div *ngIf="requestTitle.invalid && requestTitle.touched" class="alert alert-danger col-md-6">Title is required.
    </div>

    <div class="form-group">
      <label for="date">Date of occasion</label>
      <div class="input-group">
        <input class="form-control" #requestDate="ngModel" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date"
          ngbDatepicker #d=ngbDatepicker id="date" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div *ngIf="requestDate.invalid && requestDate.touched" class="alert alert-danger col-md-6">Date is required.
    </div>

    <div class="p-field p-col-12 p-md-3">
      <label for="amount">Amount (max. {{maxAmount}})</label>
      <p-inputNumber inputId="amount" [(ngModel)]="amount" mode="decimal" [maxFractionDigits]="2" mode="currency" currency="EUR" [max]="maxAmount"></p-inputNumber>
      <!-- <div class="alert alert-danger col-md-6" *ngIf="requestAmount.invalid && requestAmount.touched">Positive
        amount is required.</div> -->
    </div>

    <div class="form-group">
      <label for="amount">Attendees</label>
      <p-pickList [source]="list1" [target]="list2" [dragdrop]="false" [showSourceControls]="false" [showTargetControls]="false" (onMoveToTarget)="onAttendeesChanges()" (onMoveToSource)="onAttendeesChanges()" sourceHeader="Employees" targetHeader="Attendees">
        <ng-template let-car pTemplate="item">
          <div style="font-size:14px;float:right;margin:0px 0px 0 0">{{car.employee.firstName}} - {{car.employee.lastName}}</div>
        </ng-template>
    </p-pickList>

    </div>

    <hr>

    <button (click)="close()">Close</button>
    <button (click)="save()">Save</button>
  </div>
</div>
