<p-button (onClick)="open()" *ngIf="!isVisible" label="Create new request"></p-button>

<p-panel header="Create new request" *ngIf="isVisible">

  <div class="p-field">
    <label for="title">Title</label>
    <input type="text" id="title" #requestTitle="ngModel" pInputText [(ngModel)]="title" (blur)="trimTitle()"
      required />
    <small *ngIf="requestTitle.invalid && requestTitle.touched" id="title-help" class="p-error">Title is
      required</small>
  </div>

  <div class="p-field">
    <label for="requestDate">Date of occasion</label>

    <p-calendar [(ngModel)]="date" inputId="requestDate" #requestDate="ngModel" [showIcon]="true"></p-calendar>
    <div *ngIf="requestDate.invalid && requestDate.touched" class="alert alert-danger col-md-6">Date is required.</div>
  </div>

  <div class="p-field p-col-12 p-md-3">
    <label for="amount">Amount (max. {{maxAmount}})</label>
    <p-inputNumber inputId="amount" [(ngModel)]="amount" mode="decimal" [maxFractionDigits]="2" mode="currency"
      currency="EUR" [max]="maxAmount"></p-inputNumber>
    <!-- <div class="alert alert-danger col-md-6" *ngIf="requestAmount.invalid && requestAmount.touched">Positive
        amount is required.</div> -->
  </div>

  <div class="form-group">
    <label>Attendees</label>
    <p-pickList [source]="list1" [target]="list2" [dragdrop]="false" [showSourceControls]="false"
      [showTargetControls]="false" (onMoveToTarget)="onAttendeesChanges()" (onMoveToSource)="onAttendeesChanges()"
      sourceHeader="Employees" targetHeader="Attendees">
      <ng-template let-car pTemplate="item">
        <div style="font-size:14px;float:right;margin:0px 0px 0 0">{{car.employee.firstName}} -
          {{car.employee.lastName}}</div>
      </ng-template>
    </p-pickList>

  </div>

  <ng-template pTemplate="footer">
    <span class="p-buttonset">
      <button (click)="save()" pButton type="button" label="Save" icon="pi pi-check"></button>
      <button (click)="close()" pButton type="button" label="Cancel" icon="pi pi-times"
        class="p-button-danger"></button>
    </span>
  </ng-template>
</p-panel>
