<h2>Create Request</h2>
<br />

<app-basic-request-info-editor></app-basic-request-info-editor>

<div class="field">
  <label for="title" class="block">Title</label>
  <input id="title" type="text" pInputText required #inputTitle="ngModel" [(ngModel)]="title" />
  <small id="username1-help" class="block">Short summary of what you are going to buy.</small>
</div>
<small *ngIf="inputTitle.invalid && (inputTitle.dirty || inputTitle.touched)" id="username2-help" class="p-error block"
  >Title is required.</small
>

<div class="field">
  <label for="amount" class="block">Amount (max {{ maximumAmount }} €)</label>
  <p-inputNumber
    inputId="amount"
    [(ngModel)]="amount"
    mode="currency"
    currency="EUR"
    required
    #inputAmount="ngModel"
    [max]="maximumAmount">
  </p-inputNumber>
</div>

<small *ngIf="inputAmount.invalid && (inputAmount.dirty || inputAmount.touched)" class="p-error block"
  >Amount is required.</small
>

<div class="form-group">
  <label for="attendees-picklist">Attendees</label>
  <p-pickList
    id="attendees-picklist"
    [source]="availableUsers"
    [target]="selectedUsers"
    [dragdrop]="false"
    [showSourceControls]="false"
    [showTargetControls]="false"
    (onMoveToTarget)="onAttendeesChanges()"
    (onMoveToSource)="onAttendeesChanges()"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    sourceHeader="Employees"
    targetHeader="Attendees"
    filterBy="firstName">
    <ng-template let-car pTemplate="item">
      <div style="font-size: 14px; float: right; margin: 0px 0px 0 0">
        {{ car.firstName }} - {{ car.lastName }} ({{ car.budgetLeft }} €)
      </div>
    </ng-template>
  </p-pickList>
</div>

<p-button icon="pi pi-plus" (click)="save()" label="Create request" styleClass="p-button-success"></p-button>
