<h2>Create Request</h2>
<br>
<form *ngIf="categories" [formGroup]="requestForm">
    <div class="form-group">
        <h5>
            <label class="col-md-6">
                Title
                <textarea #requestTitle class="form-control" formControlName="title" type="textarea"></textarea>
            </label> *
        </h5>
    </div>
    <div *ngIf="requestForm.controls['title'].invalid && (requestForm.controls['title'].dirty || requestForm.controls['title'].touched)"
        class="alert alert-danger col-md-6">
        <div *ngIf="requestForm.controls['title'].errors.required">Title is required.</div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <h5>
                <label class="input-group col-md-6">
                    Date of occasion
                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="selectedDate"
                        [ngModelOptions]="{standalone: true}" bsDatepicker
                        [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue'}">
                </label>
            </h5>
        </div>
    </div>

    <div class="form-group">
        <h5>
            <label class="col-md-6">
                Amount
                <input #requestAmount class="form-control" formControlName="amount" type="number" placeholder="0.00">
            </label> *
        </h5>
    </div>
    <div *ngIf="requestForm.controls['amount'].invalid && (requestForm.controls['amount'].dirty || requestForm.controls['amount'].touched)"
        class="alert alert-danger col-md-6">
        <div *ngIf="requestForm.controls['amount'].errors.required">Amount is required.</div>
    </div>

    <div class="form-group">
        <h5>
            <label class="col-md-6">
                Category
                <select class="form-control form-control-sm" [(ngModel)]="selectedCategory" formControlName="category">
                    <option *ngFor="let categoryItem of categories" [ngValue]="categoryItem">
                        {{categoryItem.title}}
                    </option>
                </select>
            </label>
        </h5>
    </div>

    <div class="form-group">
        <h5>
            <label class="col-md-6">
                Url
                <input [(ngModel)]="requestUrl" formControlName="url" class="form-control" type="url"
                    disabled="!selectedCategory.isUrlNeeded">
            </label>
        </h5>
    </div>
    <br>
    <div class="row">
        <h5>Assign Employees</h5>
    </div>
    <div class="row">
        <input class="form-control col-md-6" style="outline: none; box-shadow: none" placeholder="Search employee"
            id="searchBox" type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
        <h5 class="col-md-6">Assigned Employees</h5>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Last</th>
                        <th scope="col">First</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let user of filteredUsers">
                        <th>{{user.id}}</th>
                        <td>{{user.lastName}}</td>
                        <td>{{user.firstName}}</td>

                        <td *ngIf="!isAdded(user)" style="min-width: 180px;">
                            <button class="btn btn-success float-right" title="activate employee"
                                (click)="addUser(user)">
                                Add
                            </button>
                        </td>

                        <td *ngIf="isAdded(user)" style="min-width: 180px;">
                            <button class="btn btn-danger float-right" title="deactivate employee"
                                (click)="removeUser(user)">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Last</th>
                        <th scope="col">First</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of addedUsers">
                        <th>{{user.id}}</th>
                        <td>{{user.lastName}}</td>
                        <td>{{user.firstName}}</td>

                        <td *ngIf="!isAdded(user)" style="min-width: 180px;">
                            <button class="btn btn-success float-right" title="activate employee"
                                (click)="addUser(user)">
                                Add
                            </button>
                        </td>

                        <td *ngIf="isAdded(user)" style="min-width: 180px;">
                            <button class="btn btn-danger float-right" title="deactivate employee"
                                (click)="removeUser(user)">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="requestForm.controls['url'].invalid && (requestForm.controls['url'].dirty || requestForm.controls['url'].touched)"
        class="alert alert-danger col-md-6">
        <div *ngIf="requestForm.controls['url'].errors.required">Url is required.</div>
    </div>

    <button class="btn btn-primary mr-1" (click)="goBack()">
        back
    </button>
    <button class="btn btn-success" type="submit" [disabled]="requestForm.pristine || requestForm.invalid"
        (click)="save(requestTitle.value, requestAmount.value)">
        save
    </button>
</form>
<br>
<br>
<div *ngIf="httpResponseError">
    <font color="red" size="4">
        {{httpResponseError}}
    </font>
</div>