<p-tabMenu [model]="years" [scrollable]="true"></p-tabMenu>

@if (loadingData()) {
  @defer (on timer(200)) {
    <div class="flex align-items-center justify-content-center mt-5 h-10rem">
      <p-progressSpinner styleClass="w-5rem h-5rem" strokeWidth="4" animationDuration="1s" ariaLabel="loading" />
    </div>
  }
} @else {
  <div class="flex flex-column gap-3 mt-3">
    @for (budget of budgets(); track budget.id) {
      <app-budget [budget]="budget"></app-budget>
    } @empty {
      <div class="flex flex-column align-items-center">
        <p class="mt-3 text-center text-xl">Sorry, no budgets are available for this year.</p>
        <img ngSrc="/assets/empty-wallet.png" width="300" height="303" alt="" />
      </div>
    }
  </div>
}

<router-outlet></router-outlet>
