<div *ngIf="user">
    <h2>Budget Overview - {{year}} - {{user.firstName}} {{user.lastName}}</h2>
    <br>
    <div>Allowed amount : {{budget.amount}}</div>
    <div>Current amount : {{currentAmount}}</div>
    <div>Superior : {{user.superior.firstName}} {{user.superior.lastName}}</div>
    <br>
    <h2>Requests</h2>
    <br>
    <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let year of years">
            <button class="btn btn-primary mr-1" (click)="getBudget(year)">{{year}}</button>
        </li>
    </ul>

    <a class="btn btn-link float-right" href="#" routerLink="request/create">Create new request</a>

    <div *ngIf="requests">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Amount</th>
                <th scope="col">Occasion</th>
                <th scope="col">Date</th>
                <th scope="col">Request State</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let request of requests">
                <td>{{request.title}}</td>
                <td>{{request.amount}}</td>
                <td>{{request.category.title}}</td>
                <td>{{request.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{requestStateType[request.state]}}</td>
                <td *ngIf="request.state == requestStateType.Pending">

                    <button class="btn btn-danger float-right" title="delete request"
                        (click)="deleteRequest(request.id)">Delete</button>

                    <a class="btn btn-primary float-right mr-1" href="#" role="button"
                       routerLink="request/detail/{{request.id}}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>