<div *ngIf="request && categories">
    <h2>Details</h2>
    <br>
    <form [formGroup]="requestForm">
        <div class="form-group">
            <h5>
                <label class="col-md-6">
                    Title
                    <textarea
                        class="form-control"
                        formControlName="title"
                        [(ngModel)]="request.title"
                        placeholder="title"></textarea>
                </label>
            </h5>
        </div>

        <div
            *ngIf="requestForm.controls['title'].invalid && (requestForm.controls['title'].dirty || requestForm.controls['title'].touched)"
            class="alert alert-danger col-md-6">
            <div *ngIf="requestForm.controls['title'].errors.required">Title is required.</div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <h5>
                    <label class="input-group col-md-6">
                        Date of occasion
                        <input
                            type="text"
                            class="form-control"
                            placeholder="dd/mm/yyyy"
                            id="datePicker"
                            [(ngModel)]="selectedDate"
                            [ngModelOptions]="{standalone: true}"
                            bsDatepicker
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue'}"
                            (click)="setDirty()"
                            readonly>
                    </label>
                </h5>
            </div>
        </div>

        <div class="form-group">
            <h5>
                <label class="col-md-6">
                    Amount
                    <input
                        type="number"
                        class="form-control"
                        formControlName="amount"
                        [(ngModel)]="request.amount"
                        placeholder="0.00">
                </label>
            </h5>
        </div>

        <div
            *ngIf="requestForm.controls['amount'].invalid && (requestForm.controls['amount'].dirty || requestForm.controls['amount'].touched)"
            class="alert alert-danger col-md-6">
            <div *ngIf="requestForm.controls['amount'].errors.required">Amount is required.</div>
        </div>

        <div class="form-group">
            <h5>
                <label class="col-md-6">
                    Occasion
                    <select
                        class="form-control form-control-sm"
                        [(ngModel)]="selectedCategory"
                        formControlName="category">
                        <option
                            *ngFor="let categoryItem of categories"
                            [ngValue]="categoryItem">
                            {{categoryItem.title}}
                        </option>
                    </select>
                </label>
            </h5>
        </div>

        <div
            *ngIf="selectedCategory.isUrlNeeded"
            class="form-group">
            <h5>
                <label class="col-md-6">
                    Url
                    <input
                        [(ngModel)]="request.url"
                        formControlName="url"
                        class="form-control"
                        type="url">
                </label>
            </h5>
        </div>

        <div
            *ngIf="requestForm.controls['url'].invalid && (requestForm.controls['url'].dirty || requestForm.controls['url'].touched)"
            class="alert alert-danger col-md-6">
            <div *ngIf="requestForm.controls['url'].errors.required">Url is required.</div>
        </div>

        <br>
        <button
            class="btn btn-primary mr-1"
            (click)="goBack()">
            back
        </button>
        <button
            class="btn btn-success"
            [disabled]="!isDirty() && (requestForm.pristine || requestForm.invalid)"
            (click)="save()">
            save
        </button>
    </form>
</div>
<br>
<br>
<div *ngIf="httpResponseError">
    <font
        color="red"
        size="4">
        {{httpResponseError}}
    </font>
</div>
