<p-dialog
  [header]="popupTitle"
  [(visible)]="isVisible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  (onHide)="onHide()"
>
  <div class="modal-body">
    <app-alert id="addRequestError"></app-alert>

    <div class="grid">
      <div class="col">
        <app-basic-request-info-editor
          *ngIf="request"
          [request]="request"
          [isReadonly]="
            !request ||
            request.state !== RequestState.Pending ||
            isSaveInProgress
          "
        ></app-basic-request-info-editor>
      </div>
      <div class="col">
        <app-file-list
          [uploadEnabled]="request?.state === RequestState.Pending && !isSaveInProgress"
          [files]="files"
          (newImageAdded)="onNewImageAdded($event)"
        >
        </app-file-list>
      </div>
    </div>

    <p-button
      *ngIf="request && request.state === RequestState.Pending"
      class="block mt-2"
      styleClass="p-button-success"
      [icon]="requestId ? 'pi pi-save' : ''"
      [disabled]="isSaveInProgress"
      [label]="requestId ? 'Update Request' : 'Create Request'"
      (click)="save()"
    ></p-button>

    <!-- Closed -->
    <div *ngIf="request && request.state === RequestState.Approved">
      <p-divider></p-divider>
      <p class="text-green-600 font-bold"><i class="pi pi-check"></i> Request was approved</p>
    </div>
  </div>
</p-dialog>
