<ul class="nav nav-pills">
    <li class="nav-item">
        <a
            class="nav-link active"
            href="#">
            Active
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            href="#">
            New
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link disabled"
            href="#">
            Inactive
        </a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let user of users">
            <th>{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <a
                    class="btn btn-primary"
                    href="#"
                    role="button"
                    routerLink="/users/{{user.id}}">
                    Detail
                </a>
            </td>
        </tr>
    </tbody>
</table>
