<div *ngIf="request">
  <div class="field">
    <label for="title" class="block">Title</label>
    <input
      id="title"
      type="text"
      pInputText
      required
      #title="ngModel"
      [(ngModel)]="request.title"
      [disabled]="isReadonly"
    />
    <small id="username1-help" class="block"
      >Short summary of what you are going to buy.</small
    >
    <small
      *ngIf="title.invalid && (title.dirty || title.touched)"
      id="username2-help"
      class="p-error block"
      >Title is required.</small
    >
  </div>

  <div class="field">
    <label for="amount" class="block">Amount</label>
    <p-inputNumber
      [(ngModel)]="request.amount"
      mode="currency"
      currency="EUR"
      inputId="amount"
      [disabled]="isReadonly"
    >
    </p-inputNumber>
  </div>
</div>
