<h2>Categories</h2>
<br>
<label>
    Category title:
    <input
        #categoryTitle
        placeholder="new category"
        class="mr-2">
</label>
<button
    (click)="add(categoryTitle.value); categoryTitle.value =''"
    class="btn btn-success">
    Add New
</button>

<table class="table table-condensed">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Active</th>
            <th scope="col">Url</th>
            <th scope="col">Spend Limit</th>
            <th scope="col">Predefined email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let category of categories">
            <th>{{category.title}}</th>
            <th>
                <input
                    readonly="true"
                    type="checkbox"
                    onclick="return false;"
                    [(ngModel)]="category.isActive">
            </th>
            <th>
                <input
                    readonly="true"
                    type="checkbox"
                    onclick="return false;"
                    [(ngModel)]="category.isUrlNeeded">
            </th>
            <td *ngIf="category.spendLimit; else empty">{{category.spendLimit}}</td>
            <td *ngIf="category.emails.length; else empty">{{category.emails}}</td>
            <ng-template #empty>
                <td>Not defined.</td>
            </ng-template>
            <td>
                <a
                    class="btn btn-primary float-right mr-1"
                    role="button"
                    routerLink="/category/{{category.id}}">
                    Edit
                </a>
            </td>
        </tr>
    </tbody>
</table>
