<h2>Categories</h2>
<br>
<label>Category title:
    <input #categoryTitle placeholder="new category"/>
</label>
<button  (click)="add(categoryTitle.value); categoryTitle.value =''" class="btn btn-primary float-right">Add New</button>

<table class="table table-condensed">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let category of categories">
        <th>{{category.title}}</th>
        <td>
            <button class="btn btn-primary float-right" title="delete category"
            (click)="delete(category)">Delete</button>

            <a class="btn btn-primary float-right mr-1"  role="button"
                routerLink="/category/{{category.id}}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>