<p>Uploaded files</p>
<ul class="InvoiceImage">
  <li *ngFor="let image of images">
    {{image}}
  </li>
</ul>
<div *ngIf="uploadingImages?.length>0"> 
  <p>Files in progress</p>
</div>
<ul>
  <li *ngFor="let uploadingImage of uploadingImages">
    <p>{{uploadingImage.name}}</p>
    <ngb-progressbar height="20px"
     [value] = uploadingImage.progress>
    </ngb-progressbar>>
  </li>
</ul>
<button
(click)="onButtonClick()">Add file</button>

<input 
  id="fileDialog"
  type="file"  
  #file
  (change)="onImageAdded($event.target.files)"
  style="display: none;"/>


  

