<p>Uploaded files</p>
<div class="fileLists">
  <div *ngIf="images?.length == 0 && uploadingImages?.length == 0">No files yet</div>
  <ul class="pl-0">
    <li *ngFor="let image of images">
      <div class="row mt-2">
        <div class="col-md-8">{{image.name}}</div>
        <button class="col-md-3 btn btn-outline-primary"
        (click)="download(image.id, image.name)">Download</button>
        <a #downloadLink></a>
      </div>
    </li>
  </ul>
  <ul>
    <li *ngFor="let uploadingImage of uploadingImages">
      <p>{{uploadingImage.name}}</p>
      <ngb-progressbar height="20px" [value]=uploadingImage.progress>
      </ngb-progressbar>
    </li>
  </ul>
</div>
<button *ngIf="uploadEnabled" class="btn btn-outline-primary" (click)="onButtonClick()">Add file</button>
<div class="alert alert-danger m-1" *ngIf=showError>
  Error ocured during file upload.
</div>
<input id="fileDialog" type="file" #file (change)="onImageAdded($event.target.files)" style="display: none;" />
