<p-menubar [model]="items()">
  <ng-template pTemplate="start">
    <a class="p-menuitem-link font-bold mr-2" routerLink="/">
      <span class="mr-1 text-xl">💰</span>
      <span>PBA</span>
    </a>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <ng-container *ngIf="item.route; else urlRef">
      <a pRipple class="p-menuitem-link" [routerLink]="item.route" [routerLinkActive]="['p-menuitem-active']">
        @if (item.icon) {
          <i class="mr-2" [class]="item.icon"></i>
        }
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #urlRef>
      <a *ngIf="item.url" [href]="item.url" [target]="item.target" class="p-menuitem-link">
        @if (item.icon) {
          <i class="mr-2" [class]="item.icon"></i>
        }
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      @if (authService.userInfo$ | async; as userInfo) {
        <div class="p-menuitem-link">
          <i class="pi pi-user mr-2" [pTooltip]="userInfo.name" tooltipPosition="bottom"></i>
        </div>
      }
      <a class="p-menuitem-link" href="#" (click)="logout(); $event.preventDefault()">
        <i class="pi pi-sign-out mr-2"></i>Logout
      </a>
    </div>
  </ng-template>
</p-menubar>

<main>
  <div class="grid justify-content-center">
    <div class="col-12 md:col-10">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<p-toast position="bottom-center"></p-toast>
