:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  nav {
    display: flex;
    align-items: center;
    background-color: rgb(52, 58, 64);
    border-bottom: 2px solid #033778;
    font-weight: 400;
    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      white-space: nowrap;
      display: inline-block;
      font-size: 1rem;
      &:hover {
        color: #ffffff;
      }
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      &.home {
        a {
          font-size: 1.25rem;
          font-weight: 700;
          margin: 0 1rem 0 0;
        }
      }
      &.menu {
        display: flex;
      }
      &.user {
        display: flex;
        margin-left: auto;
        i.pi {
          margin-right: 0.25rem;
        }
      }
      li {
        display: block;
        margin: 0 0.5rem 0 0.5rem;
        &.active a {
          color: #ffffff;
          font-weight: 700;
        }
        a {
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          padding: 0.5rem;
        }
      }
    }
  }

  main {
    overflow: auto;
    margin: 0;
    padding: 1rem;
  }
}
