<p>Uploaded files</p>
<div class="fileLists">
  <!-- <div *ngIf="images?.length == 0 && uploadingImages?.length == 0">No files yet</div> -->
  <ul class="pl-0">
    <li *ngFor="let image of images">
      <div class="row mt-2">
        <div class="col-md-8">{{image.name}}</div>
        <!-- <p-progressBar [value]="50"></p-progressBar> -->
        {{image.progress}}
        <button *ngIf="image.id" class="col-md-3 btn btn-outline-primary"
        (click)="download(image.id, image.name)">Download</button>
      </div>
    </li>
  </ul>
</div>
<button *ngIf="uploadEnabled" class="btn btn-outline-primary" (click)="onButtonClick()">Add file</button>
<input id="fileDialog" type="file" #file (change)="onImageAdded($event.target.files)" style="display: none;" />
