<label class="block mb-2" for="file-list">Uploaded files</label>
<div *ngIf="files().length > 0" class="fileLists mb-2" id="file-list">
  <ul class="no-bullets">
    <li *ngFor="let file of files()">
      @let status = file.status();

      <p-progressBar
        *ngIf="status.code === 'in-progress'"
        [style]="{ width: '200px', height: '20px' }"
        [value]="status.progress()"
      />

      <button
        *ngIf="status.code === 'saved'"
        pButton
        [disabled]="!status.id"
        class="p-button-sm p-button-text"
        (click)="download(status.id)"
      >
        {{ file.name }}
      </button>
    </li>
  </ul>
</div>

<p-fileUpload
  accept="image/png, image/jpeg, image/gif, application/pdf"
  chooseIcon="pi pi-upload"
  chooseStyleClass="p-button-secondary"
  chooseLabel="Upload File"
  [showUploadButton]="false"
  [showCancelButton]="false"
  [maxFileSize]="2000000"
  [customUpload]="true"
  (onSelect)="onFileSelect($event)"
>
  <ng-template let-file pTemplate="file"></ng-template>
</p-fileUpload>
