/* Needed to change color of the dropzone during dragging */
.p-draggable-enter {
  background-color: var(--surface-200);
}

ul > li {
  height: 32px;
}

:host ::ng-deep .spinner {
  width: 22px !important;
  height: 22px !important;
}

.upload-progress-bar {
  display: block;
  position: relative;
  bottom: 6px;
}
