<label class="block mb-2" for="file-list">Uploaded files</label>
<div *ngIf="files().length > 0" class="fileLists mb-2" id="file-list">
  <ul class="no-bullets">
    @for (file of files(); track file.name) {
      <li>
      @switch (file.status.code) {
        @case ('new') {
          <button
            pButton
            disabled
            class="p-button-sm p-button-text"
          >
            {{ file.name }}
          </button>
        }
        @case ('in-progress') {
          <p-progressBar [style]="{ width: '200px', height: '20px' }" [value]="file.status.progress"/>
        }
        @case ('saved') {
          <button
            pButton
            [disabled]="!file.status.id"
            class="p-button-sm p-button-text"
            (click)="download(file.status.id)"
          >
            {{ file.name }}
          </button>
        }
      }
      </li>
    }
  </ul>
</div>

<p-fileUpload
  accept="image/png, image/jpeg, image/gif, application/pdf"
  chooseIcon="pi pi-upload"
  chooseStyleClass="p-button-secondary"
  chooseLabel="Upload File"
  [showUploadButton]="false"
  [showCancelButton]="false"
  [maxFileSize]="2000000"
  [customUpload]="true"
  (onSelect)="onFileSelect($event)"
>
  <ng-template let-file pTemplate="file"></ng-template>
</p-fileUpload>
