<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Create request</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <app-alert id="addRequestError"></app-alert>
    <div>
        <div class="form-group">
            <label for="title">Title</label>
            <textarea id="title" #requestTitle="ngModel" class="form-control" type="textarea" [(ngModel)]="title"
                required></textarea>
        </div>
        <div *ngIf="requestTitle.invalid && requestTitle.touched" class="alert alert-danger col-md-6">Title is required.
        </div>

        <div class="form-group">
            <label for="date">Date of occasion</label>
            <div class="input-group">
                <input class="form-control" #requestDate="ngModel" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date"
                    ngbDatepicker #d=ngbDatepicker id="date" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <div *ngIf="requestDate.invalid && requestDate.touched" class="alert alert-danger col-md-6">Date is required.
        </div>

        <div class="form-group">
            <label for="amount">Amount </label>
            <input id="amount" #requestAmount="ngModel" class="form-control" type="number" name="amount"
                [(ngModel)]="amount" placeholder="0.00" required min="1">
            <div class="alert alert-danger col-md-6" *ngIf="requestAmount.invalid && requestAmount.touched">Positive
                amount is required.</div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger"
        [disabled]="requestAmount.invalid || requestDate.invalid || requestTitle.invalid" (click)="save()">Save</button>
</div>